.gradle
build
!gradle/wrapper/gradle-wrapper.jar

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

## Development ###
/application.yaml
/application.properties
/application.yml
/gradle.properties
*.env